.about {
    background-image: url(../images/about.jpg);
    min-height: 520px;
    // min-height: calc(100vh - 80px);

    h1 {
        padding-top: 20rem;
    }
}

.story {
    background-image: url(../images/bg-about-1.png);
    padding: 20rem 0 10rem 0;
    background-size: cover;

    @include pad {
        background-image: url(../images/bg-about-sm-1.png);
        min-height: 167px;
        padding: 16rem 0 6rem 0;

    }

    .container {
        max-width: 50%;

        @include pad {
            max-width: unset;
        }
    }
}

.process {
    background-image: url(../images/bg-about-2.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20rem;
    min-height: 3600px;

    @include pad {
        background-image: none;
        padding-top: unset;
        padding-bottom: 18rem;
    }

    .process-space {
        margin-top: -11rem;

        @include pad {
            margin-top: unset;
        }
    }

    .process-deco-1 {
        margin-top: 12rem;
        margin-left: 5rem;

        @include pad {
            display: none;
        }
    }

    .process-deco-2 {
        margin-top: 12rem;
        margin-right: -2rem;

        @include pad {
            display: none;
        }
    }

    img {
            max-width: 80%;
            margin: 0 auto;
    }
}