.about {
    background-image: url(../images/about.jpg);
    // min-height: 520px;
    min-height: calc(100vh - 80px);

    h1 {
        padding-top: 20rem;
    }
}

.story {
    background-image: url(../images/bg-about-1.png);
    min-height: 800px;
    padding: 30rem 0 10rem 0;

    @include pad {
        padding: 10rem 0 0rem 0;

    }

    .container {
        max-width: 50%;

        @include pad {
            max-width: unset;
        }
    }
}

.process{
    background-image: url(../images/bg-about-2.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20rem;
    min-height: 3700px;
}

