.banner {
    min-height: 520px;
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        padding-top: 10rem;
        padding-bottom: 2.5rem;
    }
}

.environment {
    padding-top: 5rem;
    padding-bottom: 2.5rem;

    .contaniner {
        width: 80%;
    }
}

.feature {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    background: #fffaf2;
    position: relative;

    .feature-circle::before {
        content: "";
        width: 36px;
        height: 36px;
        background: #F5EDE0;
        position: absolute;
        border-radius: 50%;
    }

    h2{
        margin-left: 3rem;
    }
}

.season {
    min-height: 660px;
    background-image: url(../images/package.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 10rem;

    .season-layer {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    h2{
        padding-top: 15rem;
    }
}