<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <!-- aos -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- customized -->
  <link rel="stylesheet" href="./assets/style/all.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="./assets/images/logo.png" alt="logo" width="108">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="about.html">關於我們</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="product.html">產品介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">訂購資訊</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="shop.html">購物說明</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">聯絡我們</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%- contents %>
    <!-- v1 -->
    <!-- <footer class="footer text-center">
      <div class="footer-content bg-secondary-3 pt-8 pb-5">
        <div class="container">
          <img src="./assets/images/logo.png" alt="logo" class="mb-6">
          <div class="border-bottom border-secondary-2 mb-6"></div>

          <div class="row p-0 mb-5">
            <div class="col-lg-2 col-md-12"></div>
            <div class="col-lg-2 col-md-12">
              <span class="text-primary">電話</span>&nbsp;
              <span class="text-secondary-1">OOOOOOOOOO</span>
            </div>
            /
            <div class="col-lg-3 col-md-12">
              <span class="text-primary">E-mail</span>&nbsp;
              <span class="text-secondary-1">OOOOOOOOOO@gmail.com</span>
            </div>
            /
            <div class="col-lg-3 col-md-12">
              <span class="text-primary">營業時間</span>&nbsp;
              <span class="text-secondary-1">週一至週五 08:30~17:30</span>
            </div>
            <div class="col-lg-2 col-md-12"></div>
          </div>

          <ul class="list-unstyled d-flex justify-content-center gap-6 ">
            <li>
              <a href="">
                <img src="./assets/images/instagram.png" alt="instagram" width="48">
              </a>
            </li>
            <li>
              <a href="">
                <img src="./assets/images/shopee.png" alt="shopee" width="48">
              </a>
            </li>
          </ul>

        </div>
      </div>
      <p class="bg-dark text-white m-0">Copyright © 2022 人情是菇. All rights reserved.</p>
    </footer> -->


    <!-- v2 -->
    <footer>
      <div class="footer backgroundlayout img-responsive">
        <div class="container">
          <div class="row justify-content-between align-items-end">
            <div class="col-md-4 text-md-end text-center">
              <img src="./assets/images/logo.png" alt="logo" class="img-responsive">
            </div>
            <div class="col-md-8 text-md-end text-center">
              <ul class="my-3 d-flex justify-content-md-end justify-content-center">
                <li class="list-unstyled ms-3">
                  <a href="#">
                    <img src="./assets/images/footer-ig.png" alt="ig">
                  </a>
                </li>
                <li class="list-unstyled ms-3">
                  <a href="#">
                    <img src="./assets/images/footer-shopee.png" alt="shopee">
                  </a>
                </li>
              </ul>
              <div class="mb-3">
                <span class="text-primary">電話</span>&nbsp;
                <span class="text-secondary-1">OOOOOOOOOO</span>
              </div>
              <div class="mb-3">
                <span class="text-primary">E-mail</span>&nbsp;
                <span class="text-secondary-1">OOOOOOOOOO@gmail.com</span>
              </div>
              <div class="mb-3">
                <span class="text-primary">營業時間</span>&nbsp;
                <span class="text-secondary-1">週一至週五 08:30~17:30</span>
              </div>
            </div>
          </div>
          <p class="text-secondary-1 text-center m-0 py-md-5 py-3">Copyright © 2022 人情是菇. All rights reserved.</p>
        </div>
      </div>
    </footer>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/deb7cdead9.js" crossorigin="anonymous"></script>
    <!-- aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- customized -->
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>