@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "./helpers/mixin";
@import "./helpers/base";
@import "../../../node_modules/bootstrap/scss/bootstrap";

@import './components/button.scss';
@import './components/background.scss';

@import './layout/nav.scss';
@import './layout/footer.scss';

@import './pages/index.scss';
@import './pages/about.scss';
@import './pages/product.scss';
@import './pages/product-content.scss';
@import './pages/shop.scss';
@import './pages/contact.scss';