body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto sans", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

a,
a:active {
    text-decoration: none !important;
}

a img:hover{
    opacity: 0.8;
}